build/
crash-reports/
libraries/
lib/
*.exe
logs/
saves/
screenshots/
resourcepacks/
shaderpacks/
server-resource-packs/
usercache.json
servers.dat
servers.dat_old
options.txt
optionsof.txt
loader_config.json
.idea/